*{
    padding: 50;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

header,footer{
    background-color: #ffffff;
    color: #ff8400;
    width: 100%;
    padding: 15px;
}

/* footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 22px;
    padding: 20px 0;
} */

header h2 {
    font-size: 20px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a {
    color:#ff8400;
    font-size: 18px;
    padding: 0 15px;
    text-decoration: none;

}
.bannerDiv{
    position: absolute; top: 40%;left: 50%;transform: translate(-50%,-50%);
}
.bannerDivH1{
    color : #ff8400; text-align: center; font-size: 60px;
}

.bannerDivp{
    text-align: center; font-size: 20px;
}
.flex-container{
    background-color: rgb(248, 159, 4);
    width: 100%;
    margin: 2px;
    
}
.flex-box{
    width: 200px;
    height: 200px;

}